.a {
	position: absolute;
	left: 0;
	right: 0;
	height: 90px;
}

.sidebar {
	position: absolute;
	right: 0;
	top: 98px;
	bottom: 0;
	width: 250px;
	background-color: lightgrey;
	margin: 2px;
	padding: 2px;
	}

.main {
    position: absolute;
    left:0; top:98px; bottom:0;
 }

img {
	float: left;
	width: 48%;
	margin-left: 4px;
}

h3 {
	clear: both;
}

p {
	clear: both;
}