.bigContainer {
	width: 1300px;
	height: 1200px;
	background-color: #FFFACD;
}

.dealContainer {
	float: left;
	margin: 5px;
	padding: 50px;
	background-color: #90EE90;
}

.imgage {
	margin: 0 auto;
}

label {
	position: block;
	}

.prodname {
	text-align: center;
}

.price {
	text-align: center;
}

#button {
	color: #FFF;
	background-color: #DAA520;
	font-size: 18px;
	font-style: normal;
	border-radius: 5px;
	width: 60%;
	
}

.butt {
	text-align: center;
}

.shop {
	background-color: yellow;
	max-width: 350px;
	margin: 20px auto;
	padding: 10px 20px;
	border-radius: 8px;
}

#keepshopnbutt {
	color: #FFF;
	background-color: #6495ED;
	font-size: 14px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 33%;
	margin: 10px 0 10px 10px;
}

#checkoutbutt {
	color: #FFF;
	background-color: #FF6633;
	font-size: 14px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 33%;
	margin: 10px 0 0 70px;
}

#keepshopnbutt:hover {
	background-color: red;
}

#keepshopnbutt:active {
	background-color: blue;
}
















