body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

.signup {
	max-width: 300px;
	margin: 20px auto;
	padding: 10px 20px;
	background: #33CCFF;
	border-radius: 8px;
}

h1 {
	margin: 0 0 20px 0;
	text-align: center;
}

#submit_button {
	color: #FFF;
	background-color: #FF6633;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 50%;
	margin: 0 0 10px 75px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
	background: rgba(255,255,255,0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 93%;
	background-color: #e8eeef;
	color: #8a97a0;
	margin-bottom: 20px;
}