form {
	margin: auto;
	width: 40%;
}

input {
	display: block;
	margin-bottom: 10px;
}

.rad {
	display: initial;
}

.billing {
	margin-top: 30px;
	background-color: lightgrey;
	padding: 5px;
}

.shipping {
	background-color: grey;
	padding: 5px;
}

h2 {
	margin: 5px;
}